.line {
  stroke: #333;
  fill: none;
}

.thinLine {
  stroke: #333;
  fill: none;
  stroke-width: 0.5;
}

.header {
  font-size: 18px;
}

.label {
  font-size: 16px;
  text-anchor: middle;
}

.rare {
  fill: #eee;
}
.medium {
  fill: #b7ddae;
}
.often {
  fill: #74bd70;
}
