build
node_modules
npm-debug.log
.DS_Store
cypress/integration/examples
cypress/integration/fixtures
cypress/integration/plugins
cypress/integration/support
cypress/support
cypress/plugins
cypress/fixtures


