.barchart {
  position: relative;
  max-width: 400px;
  padding: 20px 0;
}

.barchart svg {
  width: 100%;
}

.radioButtons {
  display: flex;
  padding-bottom: 20px;
}

.barchart .checkbox {
  margin-right: 30px;
}
