.button:global(.ui.button) {
  color: white;
  background-color: #ccc;
}
.button:global(.ui.button:hover) {
  background-color: #ddd;
}

.button:global(.ui.active.button) {
  color: white;
  background-color: var(--primary-color);
}
.button:global(.ui.active.button:hover) {
  background-color: var(--primary-light-color);
}
