.map :global(.ol-hidden) {
  visibility: hidden;
}

.map :global(.ol-zoom) {
  position: absolute;
}

.map :global(.ol-control button) {
  display: block;
  margin: 8px;
  font-size: 2em !important;
  color: white;
  font-size: 1.14em;
  text-align: center;
  height: 1.5em;
  width: 1.5em;
  line-height: -2em;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
}

.map :global(.ol-control button:hover) {
  cursor: pointer;
  background-color: var(--primary-light-color);
}
.map :global(.ol-control button:focus) {
  outline: 0;
}
.map {
  height: 100vh;
}
