.map :global(.ol-hidden) {
  visibility: hidden;
}

.map :global(.ol-zoom) {
  position: absolute;
}

.map :global(.ol-rotate) {
  position: absolute;
  top: 105px;
}

.map :global(.ol-control button) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
  height: 42px;
  width: 42px;
  font-size: 28px;
  line-height: 38px;
  background-color: var(--primary-color-500);
  border: none;
  border-radius: 50%;
  padding: 0 0 4px 0;
}

.map :global(.ol-control button:hover) {
  cursor: pointer;
  background-color: var(--primary-color-200);
}
.map :global(.ol-control button:focus) {
  outline: 0;
}
.map {
  height: 100vh;
}
