.map :global(.ol-hidden) {
  visibility: hidden;
}

.map :global(.ol-control button) {
  display: block;
  margin: 8px;
  font-size: 2.14em !important;
  color: white;
  font-size: 1.14em;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: 0.4em;
  background-color: rgb(13, 117, 123);
  border: none;
  border-radius: 50%;
}

.map :global(.ol-control button:focus) {
  outline: 0;
}

.map {
  height: 100vh;
}
