.popup {
  position: absolute !important;
  bottom: 12px;
  left: -50px;
}
.popup:after,
.popup:before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  position: absolute;
}
.popup:after {
  border-top-color: #1b1c1d;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
