.dropdown:global(.ui.button.dropdown) {
  position: absolute;
  z-index: 9;
  right: 20px;
  top: 20px;
  margin: 0;
}

.header {
  text-transform: none !important;
  font-size: 1em !important;
  font-weight: normal !important;
  color: #999 !important;
}

.item {
  color: var(--primary-color-500) !important;
}
