body {
  height: 100%;
}

:global(#root) {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  height: 100%;
}

.pages {
  flex-grow: 1;
  display: flex;
  transition: transform ease-out 0.2s;
  will-change: transform;
  overflow: hidden;
  position: fixed;
  height: 100%;
}

.left,
.right {
  width: 50vw;
  position: relative;
}
.right {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.menu:global(.ui.menu) {
  border-radius: 0;
  margin: 0;
  flex-shrink: 0;
  display: none;
  box-shadow: 0 0 20px #777;
  position: fixed;
  bottom: 0;
}

.item {
  border-radius: 0 !important;
  background-color: #eee !important;
  color: var(--primary-color-500) !important;
}
.item:hover {
  background-color: #f7f7f7 !important;
}
.item:global(.active.item) {
  background-color: white !important;
}

.icon {
  height: 1.5em;
  margin-bottom: 0.5em;
  fill: var(--primary-color-500);
}

@media (max-width: 768px) {
  .pages {
    width: 200vw;
    height: calc(100% - 70px);
  }
  .pageRight {
    transform: translateX(-100vw);
  }
  .left,
  .right {
    width: 100vw;
  }
  .menu:global(.ui.menu) {
    display: flex;
  }
}
