.form:global(.ui.form) {
  margin: 0 20px;
  position: sticky;
  top: 0;
  z-index: 0;
}

.formActive:global(.ui.form) {
  margin: 0 20px;
  position: relative;
  top: 0;
}

.form label {
  color: var(--primary-color-500) !important;
}

.forestType:global(.ui.search.dropdown) {
  font-size: 18px;
  font-weight: bold;
}
