.container {
  background-color: var(--primary-color);
  padding: 20px;
  margin: 30px 0 0 !important;
  position: sticky;
  box-shadow: 0 0 20px #777;
  flex-grow: 1;
}
.tab :global(.ui.secondary.inverted.pointing.menu) {
  border: none;
}

.tab :global(.ui.attached.segment) {
  background: none;
  color: white;
  border: none;
}
