.row {
  display: block;
  margin: 20px;
  height: 52px;
}
.group {
  float: right;
}
.icon {
  height: 2em;
}

@media (max-width: 375px) {
  .row {
    display: flex;
    min-height: fit-content;
  }
}
