.icon {
  height: 2em;
  vertical-align: middle;
  margin-right: 10px;
}

.button:global(.ui.button) {
  flex: auto !important;
  color: var(--primary-color) !important;
  background: #fff;
}

.button:global(.ui.active.button) {
  background: #f2f2f2;
}

.button:global(.ui.active.button:hover) {
  background: #fff;
}

.button:global(.ui.button:hover) {
  background: #fff;
}

.button h5 {
  margin-bottom: 5px;
}

.button p {
  font-weight: normal;
}

@media (max-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid:global(.ui.stackable.grid > .column:not(.row)) {
    padding: 1rem 0 !important;
  }
}
