.icon {
  height: 3em;
}

.checkbox :global(label) {
  color: white !important;
}
.checkbox:global(.checked > label) {
  color: #fbf0b2 !important;
}

.large {
  font-size: 1.5em;
  line-height: 1.5em;
}
.small {
  font-size: 0.8em;
}
.bold {
  font-weight: bold;
}
.yellow {
  color: #fbf0b2;
}

@media (max-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid:global(.ui.stackable.grid > .column:not(.row)) {
    padding: 1rem 0 !important;
  }
}
