
.tabFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px calc(1em + 1vw);
}

.cantonalForestTypesWrapper {
    max-width: 50%;
}

.cantonalForestTypes {
    min-height: 36px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.cantonalForestTypeButton:global(.ui.basic.active.button) {
    max-height: 100%;
    color: white  !important;
    background-color: var(--primary-color-500) !important;
    border: 1px solid white;
}

.cantonalForestTypeButton:global(.ui.basic.active.button):hover {
    background-color: var(--primary-color-200) !important;
}

.exportButton {
    margin-left: auto !important;
}
  
.exportButton:not(:hover) {
    background-color: var(--primary-color-700) !important;
}

.exportButton:hover:not(:disabled) {
    background-color: var(--primary-color-200) !important;
}